CODER_PG_CONNECTION_URL=postgresql://coder_user:${PG_PASSWORD}@coder-pg-db.postgres.database.azure.com/coder?sslmode=require
CODER_EXTERNAL_AUTH_0_ID=primary-github
CODER_EXTERNAL_AUTH_0_TYPE=github
CODER_EXTERNAL_AUTH_0_CLIENT_ID=${GITHUB_CLIENT_ID}
CODER_EXTERNAL_AUTH_0_CLIENT_SECRET=${GITHUB_CLIENT_SECRET}

ARM_CLIENT_ID=${ARM_CLIENT_ID}
ARM_CLIENT_SECRET=${ARM_CLIENT_SECRET}
ARM_TENANT_ID=${ARM_TENANT_ID}
ARM_SUBSCRIPTION_ID=${ARM_SUBSCRIPTION_ID}

#CODER_OAUTH2_GITHUB_CLIENT_ID=${GITHUB_CLIENT_ID}
#CODER_OAUTH2_GITHUB_CLIENT_SECRET=${GITHUB_CLIENT_SECRET}
#CODER_OAUTH2_GITHUB_ALLOW_SIGNUPS=true
#CODER_OAUTH2_GITHUB_ALLOW_EVERYONE=true